<mat-accordion >
    <mat-expansion-panel class="container" *ngFor="let user of users" hideToggle>
        <mat-expansion-panel-header class="row">
            <mat-panel-title class="col-md-2">
                {{ user.id }} - {{ user.username }}
            </mat-panel-title>
            <mat-panel-description class="col-sm">
               <a [routerLink]="['/users/posts', user.id]">Posteos</a>
            </mat-panel-description>
            <mat-panel-description class="col-sm">
                aquí estarán los botones
            </mat-panel-description>
            <mat-panel-description class="col-sm">
                aquí estarán los botones
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <app-user-details [user]="user" ></app-user-details>
    </mat-expansion-panel>
</mat-accordion>