
<mat-accordion >
    <mat-expansion-panel class="container" *ngFor="let user of users" hideToggle>
        <mat-expansion-panel-header 
            matRipple 
            class="row"
        >
            <mat-panel-title class="flex col-md-4 ">
                <i class="me-2 user fas fa-user-tie"></i>
                <p>{{ user.username }}</p>
            </mat-panel-title>
            <mat-panel-description class="col-sm">
               <a [routerLink]="['/users/posts', user.id]">Posteos</a>
            </mat-panel-description>
            <mat-panel-description class="col-sm">
                <a [routerLink]="['/users/albums', user.id]">Albumes</a>
            </mat-panel-description>
            <mat-panel-description class="col-sm">
                TODOs
            </mat-panel-description>
        </mat-expansion-panel-header>
        
        <app-user-details [user]="user" ></app-user-details>
    </mat-expansion-panel>
</mat-accordion>