.mat-list-item {
    border-bottom: 3px solid #9575CD;
}

.user {
    color: rgb(137, 18, 252);
    width: 28.05px;
    height: 20px;
    display: flex;
    align-items: center;
}

.flex {
    display: flex;
}

p {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

.no-decorate {
    text-decoration: none;
    letter-spacing: .5px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(103, 58, 183);
    font-weight: 700;
    font-size: 1em;
}

.no-decorate:hover {
    transform: scaleX(1.1);
}