
<div *ngIf="!postsById" class="d-flex flex-column container col-sm-3 text-center mb-3">
    <label class="text-uppercase" for="filter">Filtrar por ID</label>
    <div class="flex">
        <input type="number" name="filterPosts" [(ngModel)]="filterPosts">
        <button class="outlined ms-2 col-sm-5 separate" (click)="sendId(filterPosts)">Filtrar</button>  
    </div>
</div>

<mat-accordion >
    <mat-expansion-panel class="container" *ngFor="let post of posts; index as i" hideToggle>
        <mat-expansion-panel-header class="row">
            <mat-panel-title *ngIf="postsById; else userItem" class="col-md-2">
                {{ i + 1 }} Posteo
            </mat-panel-title>
            <ng-template #userItem>
                Posteos del usuario {{ post.userId }}
            </ng-template>
        </mat-expansion-panel-header>
        
        <mat-list class="row">
            <mat-list-item class="mat-list-item mt-3"><p><b>Título: </b> {{ post.title }}</p></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item class="mat-list-item mt-3"><p><b>Contenido: </b> {{ post.body }}</p></mat-list-item>
            <mat-divider></mat-divider>
            <div class="d-flex col-sm-5">
                <mat-panel-description class="col-md mt-3">
                    <a [routerLink]="['/details/user-details', post.userId]">Detalle de usuario</a>
                </mat-panel-description>
                <mat-panel-description class="col-md mt-3">
                    <a [routerLink]="['/details/post-comments', post.id]">Comentarios</a>
                </mat-panel-description>    
            </div>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-expansion-panel>
</mat-accordion>
