.mat-list-item {
    border-bottom: 3px solid #9575CD;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separate {
    letter-spacing: 1px;
    border: 1px solid rgb(61, 10, 145);
    color: rgb(61, 10, 145);
}

.post {
    color: rgb(61, 10, 145);
    width: 28.05px;
    height: 20px;
    display: flex;
    align-items: center;
}