<div class="flex-box">
    <div class="container flex-item">
        <h1 class="pe-2 title" mat-dialog-title>{{ data.title }}</h1>
        <div mat-dialog-actions>
            <button class="danger button-danger me-2" mat-button mat-dialog-close="true" >Eliminar</button>
            <button class="outlined button-color" mat-button mat-dialog-close="true" >Cerrar</button>
        </div>     
    </div>
    <div class="flex-photo" mat-dialog-content>
        <img class="photo" class="img-fluid photo" [lazyLoad]="data.photo" />
    </div>
</div>
